main{
  color: aliceblue;
}

hr{
    margin-inline: 15px;
}

h3{
    text-align: center;
    cursor: pointer;
}

body { 
    background: linear-gradient(to bottom, #000000, #444444); 
}



#cinema_noir{
    background-image:radial-gradient(circle, rgba(0,0,0,0) 30%, rgba(0,0,0,0.6) 100%), url("https://files.123freevectors.com/wp-content/original/143950-pastel-brown-vintage-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border: 5px solid #B8860B;
    border-radius: 3px;
    padding: 15px;
}

#movies img {
    cursor: pointer;
}

.carousel-item img {
  width: 100%;
  height: 500px;            
  object-fit: cover;         
  object-position: center;      
  display: block;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 768px) {
  .carousel-item img {
    height: 200px;;
  }}
/* footer */
footer{
    text-align: center;
    color: rgb(255, 255, 255);
    font-style: italic;
    background-color: #000000;
}

#footerLogo{
    display: flex;
    flex-flow:row;
    justify-content: center;
    height: 75px;
}

#footerConfig{
    display: flex;
    flex-flow:row;
    align-items:center;
    justify-content: center;
    justify-content: space-evenly;
}

.carousel-item {
  position: relative;
}

.carousel-item::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60%; /* altura do gradiente */
  background: linear-gradient(to top, rgba(0,0,0,0.8), rgba(0,0,0,0));
  z-index: 1;
}

.carousel-caption {
  position: absolute;
  bottom: 0;
  z-index: 2;
  padding-bottom: 20px;
}

