@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Cal+Sans&display=swap');
.aboreto-regular {
  font-family: "Aboreto", system-ui;
  font-weight: 400;
  font-style: normal;
}


/*NavBar*/
nav{
    position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 70px;
    margin-right: 70px;
    background-color: rgb(36, 36, 36);
}

/*links*/
.links{
  margin-right: 20px;
}
.menu{
  display: none;
  font-size: 40px;
  color: white;
  cursor: pointer;
  margin-right: 20px;
}
@media screen and (max-width: 768px) {
  .links {
    display: none;
  }

  .menu {
    display: block;
  }
}
/*NavBar e introdução*/
.flex-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  padding: 15px;
  word-spacing: 20px;
}

/*RetroPlay*/
#titulo{
  color: aliceblue;
  justify-content: start;
  font-size: 40px;
  font-family: "Jacquard 24", system-ui;
  text-decoration: none;
}
#titulo:hover{
  color: rgb(138, 138, 138);
}
/*Links tranform*/
a{
  font-size: x-large;
  color: rgb(255, 255, 255);
  text-decoration: none;
}
a:hover {
  color: rgb(255, 255, 255);
}

/*div titulo*/
#cabeçalho{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
