@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Cal+Sans&display=swap');
.aboreto-regular {
  font-family: "Aboreto", system-ui;
  font-weight: 400;
  font-style: normal;
}

/*INtrodução*/
.intro{
  background-image: radial-gradient(circle, rgba(0,0,0,0) -100%, rgba(0,0,0,0.6) 100%),url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhKnxKf6aZuFXX4OZrQEDwHdYv2_uPG1hQsQ24h1iObDn7HP5Os9e8xw2j-JvErXhQhSkHwrfjxBes94dmZeaIs8e-etS2XgTDm5wtlFAE5g3_0oD_I7asmCeEh8f7TeAOy_dIMOIwNhGGXBhOW9z0Mclv8q6KjrvND2Bzwo2PanfDcwEhDPyksUBM2IiA/s1600/%D8%A7%D9%84%D8%AE%D9%84%D8%A7%D8%B5%20%D9%85%D9%86%20%D8%B4%D8%A7%D9%88%D8%B4%D8%A7%D9%86%D9%83.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  background-position: center -1%;
  margin: 0%;
}
@media screen and (max-width: 768px) {
  .intro {
    height: fit-content;
  }
  .h1{
    color: aliceblue;
  }
}

/*NavBar*/
nav{
    position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 60px;
    margin-right: 70px;
    background-color: rgb(36, 36, 36);
}

/*links*/
.links{
  margin-right: 20px;
}
.menu{
  display: none;
  font-size: 40px;
  color: white;
  cursor: pointer;
  margin-right: 20px;
}
@media screen and (max-width: 768px) {
  .links {
    display: none;
  }

  .menu {
    display: block;
  }
}
/*NavBar e introdução*/
.flex-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  padding: 15px;
  word-spacing: 20px;
}

/*RetroPlay*/
#titulo{
  color: aliceblue;
  justify-content: start;
  font-size: 40px;
  font-family: "Jacquard 24", system-ui;
  text-decoration: none;
}
#titulo:hover{
  color: rgb(138, 138, 138);
}
/*Links tranform*/
a{
  font-size: x-large;
  color: rgb(255, 255, 255);
  text-decoration: none;
}
a:hover {
  color: rgb(255, 255, 255);
}

/*Botão Subscrever*/
#Butao{
  border: none;
  padding: 10px;
  color: rgb(0, 0, 0);
  border-radius: 10px;
  font-size: 15px;
  text-align: center;
  font-weight: bold;
  width: 100px;
  height: 80px;
  background-color: rgb(218, 160, 0);
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 30px;
  margin-right: 30px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}
#Butao:hover{
  background-color: rgb(255, 255, 255);
}

/*div titulo*/
#cabeçalho{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*Texto*/
#texto{
  margin-top: 60px;
  font-family: "Aboreto", system-ui;
  font-size: 25px;
  color: white;
  margin-left: 10px;
}